img{
    width: 100px;
    height: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.descripcion {
  flex: 1;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}