<div class="container text-center mt-5">
    <div class="header">
      <img src="icons/logo.png" alt="logo">
      <h2>Catalogo de Películas</h2>
    </div>
    <section class="descripcion">
      <p>
        Bienvenido a nuestro catálogo de películas, donde podrás explorar una amplia colección de títulos de diferentes géneros como acción, comedia, drama, ciencia ficción y más. 
        Nuestro objetivo es ofrecerte una experiencia sencilla y atractiva para descubrir nuevas películas, consultar información relevante y encontrar tus favoritas fácilmente.
      </p>
      <p>
        Navega por nuestro catálogo, utiliza las herramientas de búsqueda y filtrado, y mantente al día con las últimas incorporaciones. Ya sea que busques clásicos del cine o estrenos recientes, aquí encontrarás opciones para todos los gustos.
      </p>
    </section>

    <div
      class="card shadow-sm mb-4"
      *ngFor="let movie of movies">
</div>

