<div class="container mt-5">

    <h1>Detalle de Película</h1>

    <div class="card mt-4" *ngIf="movie">

        <div class="card-body">

            <h3 class="card-title">
                {{ movie.title }}
            </h3>

            <p class="card-text">
                <strong>Año:</strong>
                {{ movie.year }}
            </p>

            <p class="card-text">
                <strong>Sinópsis</strong>
                {{ movie.synopsis }}
            </p>

            <button
                class="btn btn-warning me-2"
                [routerLink]="['/edit-movie', movie.id]">

                Editar

            </button>

            <button
                class="btn btn-danger me-2"
                (click)="deleteMovie()">

                Eliminar

            </button>

            <a
              routerLink="/movies"
              class="btn btn-secondary">

              Regresar

            </a>

        </div>

    </div>

</div>